.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--background-menu);
    box-shadow: 0px 0px 5px 0px var(--border-color);
    border-radius: 5px;
    width: 100%;
    max-width: 900px;
    margin-bottom: 2rem;
    padding: 1rem 2.5rem;
    border-left: 8px solid #F48023;
}  

.container h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #06BA2B;
}

.user {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.icons:hover {
    cursor: pointer;
    transition: 0.2s;
    filter: brightness(60%);
}

.answer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 900px;
    padding: 0;
}

.answer p {
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 300;
    /* filter: brightness(90%); */
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }