.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
  height: 50px;
  padding: 0;
  margin: 0;
  margin-right: 1rem;
  border-radius: 5px;
}

.peopleArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 200px;
  height: 100%;
}

.person {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: -1;
  margin-left: -12px;
  border: 3px solid #EAEAEA;
  box-shadow: 1px 0px 5px 1px var(--border-color);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #1c6ee9e2 transparent;
}

.tooltip {
  visibility: hidden;
  width: 120px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #1c6ee9e2;
  color: #FFFFFF;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.person:hover .tooltiptext {
  visibility: visible;
}

.morePeople {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: -1;
  margin-left: -12px;
  background-color: gray;
}

.chat {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  transition: 0.2s;
  margin-left: 0.5rem;
}

.chat:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.numberMessages {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff0000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: bold;
}

.numberMessages p {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}