.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--background-menu);
    box-shadow: 0px 0px 5px 0px var(--border-color);
    border-radius: 5px;
    width: 100%;
    max-width: 900px;
    min-height: 190px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem 2rem;
    transition: 0.2s;
}  

.container h2 {
    font-size: 1rem;
    font-weight: 500;
    color: #06BA2B;
    padding: 0;
    margin: 0;
}

.container:hover {
    box-shadow: 0px 0px 12px 0px var(--border-color);
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--background-menu);
    box-shadow: 0px 0px 5px 0px var(--border-color);
    border-radius: 5px;
    width: 100%;
    max-width: 900px;
    min-height: 250px;
    margin-bottom: 2rem;
    padding: 0 2rem;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    /* padding: 0 1rem; */
    transition: 0.2s;
}

.question:hover {
    cursor: pointer;
}

.title {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
    margin-bottom: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */ 
    -webkit-box-orient: vertical;
    filter: brightness(90%);
}

.fullTitle {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
    margin-bottom: 1.5rem;
    filter: brightness(90%);
}

.description {
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */ 
    -webkit-box-orient: vertical;
    filter: brightness(60%);
}

.fullDescription {
    font-weight: 300;
    filter: brightness(60%);
}

.tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    /* margin-top: 2rem; */
    margin-bottom: 0.5rem;

    /* border width on top of div */
    /* border-top: 1px solid var(--border-color); */
    padding-top: 10px;
}

.tags span {
    margin-right: 0.8rem;
    background-color: #cccccc;
    color: #000;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 300;
}

.comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 1.5rem;
    border-top: 1px solid #cccccc;
}

.comments p {
    color: #1682FD;
    font-size: 0.9rem;
    font-weight: 300;
    margin-left: 10px;
}

.userArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.icons:hover {
    transition: 0.2s;
    cursor: pointer;
    filter: brightness(60%);
}

.topContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 1000px) {
    .container {
        margin-left: 0;
        margin-right: 0;
    }
}